<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="TestPositive">
  <classes>
  <class name="com.test.MMT_SearchFlight"/>
  <class name="com.test.MMT_SearchFlight_Negetive"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
